@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600;1,900&display=swap");
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #7947E8;
}

body a {
  color: #EB628C;
}

body a:hover {
  color: #B548EF;
}

.navbar-brand {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #7947E8;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #B548EF;
}

.navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:focus {
  color: #B548EF;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .trivia-home-div {
  width: 80%;
}

@media (min-width: 768px) {
  .home .trivia-home-div {
    width: 50%;
  }
}

@media (min-width: 1050px) {
  .home .trivia-home-div {
    width: 40%;
  }
}

.home .trivia-home-div .trivia-home {
  width: 100%;
}

.form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form-div .form-border {
  width: 60%;
}

@media (min-width: 1050px) {
  .form-div .form-border {
    width: 40%;
  }
}

.form-div .form-border .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-div .form-border .form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button {
  padding: .75em 2em;
  color: white;
  background-color: #EB628C;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px 1px #c2c2c2;
          box-shadow: 3px 3px 10px 1px #c2c2c2;
}

.button:hover {
  background-color: #B548EF;
}

input, select {
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: #f5f5f5;
}

label {
  margin: 0;
}

h2 {
  font-weight: 300;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em 4em;
}

@media (min-width: 768px) {
  .account .account-title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.account .user-info, .account .saved-questions {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.account .user-info .load-saved-btn, .account .saved-questions .load-saved-btn {
  margin-top: 1em;
}

.account .user-info .info-container, .account .saved-questions .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .account .user-info .info-container, .account .saved-questions .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.account .user-info .info-container .info-item, .account .saved-questions .info-container .info-item {
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .account .user-info .info-container .info-item, .account .saved-questions .info-container .info-item {
    margin-right: 2em;
  }
}

.account .user-info .info-container .user-field, .account .saved-questions .info-container .user-field {
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: .75em 2em;
}

.account .user-info .loaded-questions, .account .saved-questions .loaded-questions {
  margin-top: 1em;
}

.answer {
  padding: .75em 2em;
  color: #7947E8;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .answer {
    margin-right: 1em;
    margin-bottom: 0;
  }
}

.answer:focus {
  outline: none;
}

.answer:hover {
  background-color: #e0e0e0;
}

.answer-return {
  padding: .75em 2em;
  color: #7947E8;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .answer-return {
    margin-right: 1em;
    margin-bottom: 0;
  }
}

.answer-return:focus {
  outline: none;
}

.answer-return:hover {
  outline: none;
  cursor: default;
}

.selected {
  background-color: #7947E8;
  color: #f5f5f5;
  -webkit-box-shadow: 3px 3px 10px 1px #c2c2c2;
          box-shadow: 3px 3px 10px 1px #c2c2c2;
}

.selected:focus {
  outline: none;
}

.selected:hover {
  background-color: #7947E8;
}

.correct {
  background-color: #93EB8F;
  color: white;
  -webkit-box-shadow: 3px 3px 10px 1px #c2c2c2;
          box-shadow: 3px 3px 10px 1px #c2c2c2;
}

.incorrect {
  background-color: #EB628C;
  color: white;
}

.question-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.question-set {
  width: 70%;
}

@media (min-width: 768px) {
  .question-set {
    width: 80%;
  }
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f5f5;
  margin: 1em 0;
  padding: 3em;
}

.question .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.save, .unsave {
  padding: .75em 2em;
  color: #7947E8;
  background-color: #ffffff;
  border: none;
  margin-top: 1.5em;
}

.save:hover, .unsave:hover {
  background-color: #d3d3d3;
}

.save-clicked {
  display: none;
}

.display-none {
  display: none;
}

.submit-answers {
  margin-top: 1em;
  margin-bottom: 2em;
}

.suggestions, .no-suggestions {
  list-style-type: none;
  background-color: #f5f5f5;
  padding: 0;
  width: 60%;
}

.suggestions li, .suggestions p, .no-suggestions li, .no-suggestions p {
  width: 100%;
  padding: 1em;
}

.suggestions li:hover, .no-suggestions li:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.blank-header {
  height: 10.4vh;
}

.search-btn {
  padding: .75em 2em;
  color: white;
  background-color: #7947E8;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px 1px #c2c2c2;
          box-shadow: 3px 3px 10px 1px #c2c2c2;
}

.button:hover {
  background-color: #B548EF;
}

.search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
  width: 100%;
}

.search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-header input {
  width: 60%;
  margin-right: 1em;
}
/*# sourceMappingURL=App.css.map */